.mainLayout {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.navBar {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 34343;
  @media screen and (max-width: 768px) {
    padding: 10px 0;
  }
}

.runesContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.runesContainerMobile {
  justify-content: space-evenly;
  width: 100%;
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.demonsLogoCont {
  position: absolute;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.runesContRight {
  padding-right: 10px 0;
}

.runeCont {
  display: flex;
  align-items: center;
  & > svg {
    width: 23px !important;
    height: 19px !important;
    @media screen and (max-width: 768px) {
      width: 14px !important;
      height: 12px !important;
    }
  }
}
