.homeWrapper {
  background-image: url(/rocks_bg.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.runesContainerLeft {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 40px;
  position: absolute;
  left: 10px;
  z-index: 234;
}

.contentWrapper {
  background-image: url(/hero_bg.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.runesContainerRight {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 40px;
  position: absolute;
  right: 10px;
  z-index: 234;
}

.runeCont {
  display: flex;
  justify-content: flex-end;
  & > svg {
    width: 23px !important;
    height: 19px !important;
    @media screen and (max-width: 768px) {
      width: 14px !important;
      height: 12px !important;
    }
  }
}

.titleCont {
  width: max-content;
  display: flex;
  justify-content: center;
  height: 100%;
  padding-left: 20px;
  flex-direction: column;
  padding-left: 80px;

  & > h4 {
    font-weight: 500;
    font-size: 28.3429px;
    line-height: 128%;
    text-shadow: 0px 15.9429px 19.4857px rgba(0, 0, 0, 0.39);
    margin: 0;
    margin-left: 40px;
  }
}

.demonImage {
  position: absolute;
  right: 0;
  bottom: -20px;
  max-width: 600px;
}

.brokenButtonCont {
  position: relative;
  width: min-content;
}

.brokenButtonContent {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 16px;
  right: 27%;

  & > h5 {
    margin-left: 10px;
    margin-top: 32px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 34px #ff6f66;
  }
}

.mediaCont {
  display: flex;
  padding-left: 35px;
  align-items: center;
  & > svg {
    margin: 0 10px;
  }
}

.homeMobileCont {
  background-image: url(/hero_bg.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position-y: -86px;
}

.demonImageMobile {
  max-height: 45vh;
  position: absolute;
  bottom: 109px;
  right: 0;
  z-index: 232323;
}

.demonsLogoContMobile {
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.crownLogoContMobile {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mediaContMobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  bottom: 60px;
  left: 0;
}
