.brokenButtonCont {
  position: absolute;
  bottom: 14px;
  right: -18px;

  & > svg {
    @media screen and (max-width: 768px) {
      height: 100px;
      width: auto;
    }
  }
}

.brokenButtonContent {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  left: 43px;
  bottom: 44px;

  & > h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 34px #ff6f66;
    margin: 0;
    margin-left: 8px;
    margin-top: 5px;
  }
}
